/***********************************
* Start writing your css here
***********************************/
/*
body {
	background-color: blue;
	color: white;
}
*/

/*
.copyright a {
	color: white;

	&:hover {
		color: brown;
	}
}
*/
